
/*Pensar se eu deixo isso aqui mesmo*/
body{
    background-color: #F3FFBD;
    margin: 0;
    padding: 0 0 0 14em;
	
}

#logo{
    max-width: 100%;
    height: auto;
    margin: 0;
}

#menu{
    background: #70C1B3;
    position: fixed;
    left: 0em;
    width: 14em;
    height: 100%;
    padding: 0;
}

#menu a{
    display: block;
    color: #000000;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#menu span a:hover {
    background: #70C1B3;
    text-decoration: none;
}

#menu a:hover{
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

#menu li{
    list-style: none;
}

.box{
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

.box a{
    border-bottom: 1px solid #F3FFBD;
    padding: 1em;
}


/*Cabeçalho*/
#header{
    width: 100%;
    height: 3em;
    margin-top: 1em;
    position: relative;
    float: right;
    z-index: 20;
}

.text_header{
    color: #000000;
    font-size: 1em;
    float: right;
}

.space_header{
    margin-right: 1em;
}

.space_header a{
    color: #000000;
}

.botaoMenu{
	display: none;
	position: absolute;
	left: 100%;
	margin-left: 10px;
	top: 10px;
}

@media (max-width: 750px){
	#menu{
		left: -14em;
		z-index: 20;
		transition: left 300ms ease-in-out;
	}	
	#menu.open{
		left: 0;
	}
	
	body{
		padding-left: 0;
	}
	
	.botaoMenu{
		display: block;
	}
}

@media (max-height: 500px){
	.box a{
		border-bottom: 1px solid #F3FFBD;
		padding: 0.13em;
	}
}