<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minha Creche Cadastro</title>
        <link rel="stylesheet" href="css/estilo_cadastro.css" type="text/css">
    </head>
    
    <body>
        <!-- Aqui da pra usar um campo hidden ou algo outra coisa pra exibir um titulo decente 
             Sem falar no fato de saber de quem é o cadastro ou se é uma edição(enum pessoal?)  
             A pagina pode ser cortada em "pedaços" para fazer os cadastros em partes -->
        <div>
            <form id="formulario" action="#" method="post">
                <!-- Necessidade de discutir o que fazer quanto as fotos, creiam pelo que eu li isso pode dar dor de cabeça-->
                <label for="photo">Foto</label> <input class="widht" type="text" id="photo" name="photo" /><br/>
                <label id="name">Nome</label> <input class="widht" type="text" id="name" name="name" /><br/>
                <!-- Java script pra brincar com expressão regular -->
                <label for="CPF">CPF</label> <input class="widht" type="text" id="CPF" name="CPF" /><br/>
                <label for="email">E-mail</label> <input class="widht" type="email" id="email" name="email" /><br/>
                <label for="job">Profissão</label> <input class="widht" type="text" id="job" name="job" /><br/>
                <label for="birthday">Data Nascimento</label> <input class="widht" type="date" id="birthday" name="birthday" /><br/>
                <label for="cel">Celular</label> <input class="widht" type="tel" id="cel" name="cel" /><br/>
                <label for="homephone">Telefone Res</label> <input class="widht" type="tel" id="homephone" name="homephone" /><br/>
                <label for="jobphone">Telefone Com</label> <input class="widht" type="tel" id="jobphone" name="jobphone" /><br/>
                <fieldset class="widht">
                    <legend>Gênero</legend>
                    <input type="radio" name="gender" id="male" checked="checked" />Masculino<br/>
                    <input type="radio" name="gender" id="female" />Feminino<br/>
                </fieldset><br/>
                <label for="login">Login</label> <input class="widht" type="text" id="login" name="login" /><br/>
                <label for="passworld">Senha</label> <input class="widht" type="password" id="passworld" name="passworld" /><br/>
                <label for="acesslevel">Nível de Acesso</label>  
                <select class="widht" id="acesslevel">
                    <option value="admin">Diretor(a)</option>
                    <option value="secretary">Secretário(a)</option>
                    <option value="teacher">Pedagogo(a)</option>
                    <option value="parents">Responsável</option>
                </select><br/>
                <p> <input id="bsubmit" type="submit" value="Confirmar" /> <input type="button" value="Cancelar"> </p>
            </form>
        </div>
    </body>
</html>