@charset "UTF-8";

*, html, body{
    margin: 0;
    padding: 0;
}

*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cf:before, .cf:after{content: " "; display: table;}
.cf:after{clear: both; }
.cf{*zoom: 1;}
body{
    margin-left: 3.4375em;
    font: 62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
    background-color: #FFFD71;
}

#lateral{
    padding: 0 3.125em 0 0;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    font-size: 1.2em;
    background: #FDCA2E;
    color: rgb(3,8,12);

    height: 100%;
    overflow: hidden;
    width: 23.125em;
    position: fixed;
    top: 0;
    left: -20em;    
}

#lateral:before{
    z-index: 1000;
    content: url(icone-menu.png);
    font-size: 4em;
    color: white;
    position: fixed;
    left: 0.25em;
    top: 0.25em;
}

#lateral:hover:before, #lateral:focus:before{
    left: -31.25em;
}

#lateral:hover, #lateral:focus, #lateral:active{
    overflow-y: scroll;
    -moz-transform: translate(20em, 0);
    -webkit-transform: translate(20em, 0);
    -o-transform: translate(20em, 0);
    transform: translate(20em, 0);
    padding-right: 0;
}

// ==========================
#lateral .box {
    list-style-type:none;
    margin-bottom:1em;;
    padding-bottom:1em;
}
#lateral h3 {
    display:inline-block;
    font-weight:bold;
    font-size:1.6em;
    font-style:normal;
    padding-bottom:0.2em;
    margin: 2em 0 2em 0.81em;
    color:#FFFFFF;
    border-bottom: 4px solid rgb(155,155,155);
}
#menu {
    font-style:italic;
    position:relative;
    font-size:1.0em;
    margin:1em 0 1em -1em;
    padding:0;
}
#menu li {padding:0; margin:0;}
#menu li a,  #menu li a:link {
    font-size:1.2em;
    color:#000000;
    text-decoration: none;
    padding: 0.8em 0 0.8em 1em;
    display: block;
}
#menu li a:hover {
    color:#000000;
    background-color:rgba(255,255,255,0.2);
}

@media (max-width: 500px) {
body {margin-left:0;background-size:100% 28em!important;}
#lateral {
	padding:0;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size:1.2em;
	height:100%;
	overflow:hidden;
	width:100%; 
	position:fixed;
	top:0;
	left:-20em;
	}
#lateral:before {
	z-index:1000;
	width:0;
	content: "";
	font-size:4em;
	color:white;
	position:fixed;
	left: 0.25em;
        top: 0.25em;
	}
#lateral:hover:before, #lateral:focus:before{
    left: -31.25em;
}

#lateral:hover, #lateral:focus, #lateral:active{
    overflow-y: scroll;
    -moz-transform: translate(20em, 0);
    -webkit-transform: translate(20em, 0);
    -o-transform: translate(20em, 0);
    transform: translate(20em, 0);
    padding-right: 0;
}
}


