<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Minha Creche</title>
        <link rel="stylesheet" href="css/estilo_menu2.css" type="text/css">
    </head>
    
    <body class=".cbp-spmenu-push cbp-spmenu-push-toright">
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <ul class="box">
                  <li><a href="#">Creche</a></li>
                  <li><a href="#">Funcionários</a></li>
                  <li><a href="#">Turmas</a></li>
                  <li><a href="#">Responsáveis</a></li>
                  <li><a href="#">Crianças</a></li>
                  <li><a href="#">Medicamentos</a></li>
                  <li><a href="#">Avisos</a></li>
                  <li><a href="#">Recessos</a></li>
                  <li><a href="#">Atividades</a></li>
                  <li><a href="#">Sair</a></li>
              </ul>
        </nav>
    </body>
</html>