<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minha Creche</title>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="estilo_index.css" type="text/css">
        <script src="js/login.js"></script>
    </head>
    <body>
        <div id="center">
            <span><img id="logo" src="imagens/logo2_0_100.png" alt="Minha Creche"></span>
            <!-- achar uma pagina pra fazer a verificação ou sei lá -->
            <form action="#" method="post">
                <label id="text">Minha Creche</label><br>
                <input class="width" type="text" value="user" size="20" name="login" id="login"><br>
                <input class="width" type="password" value="*****" size="20" name="password" id="password"><br>
                <input class="width" type="button" value="Entrar" id="enter">
            </form>
            <div id="erro">Usuario ou Senha inválidos</div>
            <a href="#">Não Tenho Usuario</a><br>
            <a href="#">Esqueci Minha Senha</a>
        </div>
    </body>
</html>