<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Minha Creche</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="estilos_menu.css" type="text/css">
        <link rel="stylesheet" href="estilo_index.css" type="text/css">

    </head>
    <body>
        <div id="lateral">
        <div id ="menu">
              <span><img id="logo" src="imagens/logo2_0_100.png" alt="Minha Creche"></span>
              <ul class="box">
                  <li><a href="#">Creche</a></li>
                  <li><a href="#">Funcionários</a></li>
                  <li><a href="#">Turmas</a></li>
                  <li><a href="#">Responsáveis</a></li>
                  <li><a href="#">Crianças</a></li>
                  <li><a href="#">Medicamentos</a></li>
                  <li><a href="#">Avisos</a></li>
                  <li><a href="#">Recessos</a></li>
                  <li><a href="#">Atividades</a></li>
                  <li><a href="#">Sair</a></li>
              </ul>
        </div>    
        </div>
    </body>
</html>
